### leetcode 176 DB (MySQL)

이 문제는 두 번째로 높은 급여를 받는 사람을 찾고, 없다면 null 을 리턴하는 문제.

첫 번째 쿼리

```python
select 
salary as SecondHighestSalary 
from (
    select 
    id, 
    salary,
    dense_rank() over(order by salary desc) as rank
    from employee
) as reframe_table
where rank = 2;
```

rank 를 측정하는 새로운 함수를 만들고 rank 가 2 인 사람을 조건식에 걸어두었는데,

문제는 같은 임금을 받는 사람이면 두 명이 나올 것이다.

그리고 한 명도 두 번째로 높은 임금을 받는 사람이 없다면 null 을 리턴하지 않았다. (문제 조건 위반)

두 번째 쿼리

```python
select max(salary) as SecondHighestSalary
from employee
where salary < (select max(salary) from employee);
```

첫 번째 쿼리보다 쉬웠는데 

단순히 서브 쿼리로 가장 높은 임금을 받는 사람보다 낮은 임금을 받는 사람들을 찾고 

select 절에서 max 함수를 사용하니 

두 번째로 높은 임금을 받는 사람을 찾고, 만약 없다면 null 을 리턴했다.

원래는 null 값을 리턴받기 위해서는 조인을 써야만 하는 걸로 알았는데 아니였다. 

또 하나 배워갑니다.